@import"./componentes/CSS/navbar.css";
@import"./componentes/CSS/end.css";
@import"./componentes/CSS/mid.css";
@import"./componentes/CSS/skisob.css";
@import"./componentes/CSS/projetos.css";

body{
    background-color: #cad2d4;
}
*{
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
}
:root {
    --one-color: #28cab8;
    --two-color: #cad2d4;
    --tree-color: #000317;
    --white: #ffffff;
    --black: #000000;
    --distpadding: 5% 10% 0px;
}