footer {
    width: 100%;
    height: auto;
}
.divcontaimg {
    gap: 25px;
    display: flex;
    justify-content: center;
}
.contaimg {
    width: 100px;
    height: 100px;
}
.conctact {
    font-size: 40px;
    text-align: center;
}
.direitos {
    font-size: 20px;
    text-align: center;
}