.ola {
    font-size: 120px;
    line-height: 95px;
    letter-spacing: 2.5px;
    width: 720px;
}
.photo{
    border-color: var(--tree-color);
    border-style: solid;
    border-radius: 34px;
    width: 376px;
    height: 556px;
}
.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: var(--distpadding);
}