.ola {
    font-size: 120px;
    line-height: 95px;
    letter-spacing: 2.5px;
    width: 720px;
}
.photo{
    border-color: var(--tree-color);
    border-style: solid;
    border-radius: 34px;
    size: 100%;
}
.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: var(--distpadding);
    gap: 10px;
}
@media only screen and (max-width: 992px) {
    .ola {
        font-size: 120px;
        line-height: 95px;
        letter-spacing: 2.5px;
        width: auto;
    }
    .photo {
        size: ;
    }
    .mid {
        justify-content: center;
        flex-direction: column-reverse;
    }
}