.ola {
    float: right;
    margin-top: 250px;
    margin-right: 300px;
    flex-shrink: 0;
    font-size: 120px;
    font-weight: 400;
    line-height: 95px;
    letter-spacing: 2.5px;
    width: 760px;
    height: 355px;
}
.photo{
    margin-top: 250px;
    margin-bottom: 200px;
    margin-left: 100px;
    flex-shrink: 0;
    border-color: #1E1E1E;
    border-style: solid;
    border-radius: 34px;
    width: 376px;
    height: 556px;
}