nav{
    background: var(--tree-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.navatalho:hover{
    color: var(--one-color);
    font-size: 25px;
}
.navatalho{
    text-decoration: none;
    color: var(--two-color);
    padding: 30px 40px;
    font-size: 20px;
}
ul{
    position: absolute;
    right: 12%;
    display: inline-flex;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
}