nav{
    background: var(--tree-color);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}
.navatalho:hover{
    color: var(--one-color);
    font-size: 220%;
}
.navatalho{
    text-decoration: none;
    color: var(--two-color);
    font-size: 200%;
    padding: 8px;
}
ul{
    display: inline;
    position: absolute;
    justify-content: space-between;
    right: 20%;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 10%;
}

@media only screen and (max-width: 992px) {
    .navatalho {
        padding: 10px 10px;
    }
}