.skisob {
    background: var(--tree-color);
    width: 100%;
    height: auto;
    padding-bottom: 169.972px;
}
.distabout {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--distpadding);
}
.titles {
    text-align: center;
    color: var(--one-color);
    font-size: 60px;
    width: 500px;
}
.aboutcont {
    color: var(--white);
    font-size: 45px;
    width: 554px;
}
.titleskills {
    text-align: center;
    color: var(--one-color);
    font-size: 60px;
}
.imgskills {
    display: flex;
    justify-content: flex-start;
}
